<h2>Check out</h2>
{% extends 'base.html'%}
{% load static %}
{% block content %}
<section class="section-content padding-y bg">
<div class="container">
  <!-- ============================ COMPONENT 1 ================================= -->

<div class="row">
  <aside class="col-lg-6">
<div class="card">
<div class="card-body">
  <h4 class="card-title mb-4">Factuur Adres:</h4>
  <form action="" method="POST">
      {% csrf_token %}
  <div class="form-row">
        <div class="col form-group">
            <label for="">Voornaam:</label>
            <input type="text" name="first_name" class="form-control" required>
        </div>

        <div class="col form-group">
            <label for="">Acternaam:</label>
            <input type="text" name="last_name" class="form-control" required>
        </div>
  </div>
      <div class="form-row">
        <div class="col form-group">
            <label for="">Email:</label>
            <input type="text" name="email" class="form-control" required>
        </div>

        <div class="col form-group">
            <label for="">telefoonnummer:</label>
            <input type="text" name="phone_number" class="form-control" required>
        </div>
  </div>
      <div class="form-row">
        <div class="col form-group">
            <label for="">Adres 1:</label>
            <input type="text" name="last_name" class="form-control" required>
        </div>

        <div class="col form-group">
            <label for="">Adres 2:</label>
            <input type="text" name="last_name" class="form-control" required>
        </div>
</div>
      <div class="form-row">
        <div class="col form-group">
            <label for="">Huis nummer:</label>
            <input type="text" name="house_number" class="form-control" required>
        </div>

         <div class="col form-group">
            <label for="">Stad:</label>
            <input type="text" name="city" class="form-control" required>
        </div>

         <div class="col form-group">
            <label for="">Land:</label>
            <input type="text" name="country" class="form-control" required>
        </div>
</div>
        <div class="form-row">
            <label for="">Order Note</label>
            <textarea name="order_note" row="2" class="form-control"></textarea>
        </div>

    </div>
</div> <!-- card.// -->


    </aside> <!-- col.// -->
	<aside class="col-lg-6">
        <div class="card">
        <table class="table table-borderless table-shopping-cart">
                <thead class="text-muted">
                    <tr class="small text-uppercase">
                      <th scope="col">Product</th>
                      <th scope="col" width="120">Quantity</th>
                      <th scope="col" width="120">Price</th>
                      <th scope="col" class="text-right" width="200"> </th>
                    </tr>
                </thead>
            <tbody>

            {% for cart_item in cart_items %}
            <tr>
                    <td>
                        <figure class="itemside align-items-center">
                            <div class="aside"><img src="{{cart_item.product.images.url }}" class="img-sm"></div>
                            <figcaption class="info">
                                <a href="{{ cart_item.product.get_url }}" class="title text-dark">{{ cart_item.product.product_name }}</a>
                                <p class="text-muted small">
                                    {% if cart_item.variants.all %}
                                        {% for item in cart_item.variants.all %}
                                            {{ item.variant_category | capfirst }} : {{ item.variant_value | capfirst }} <br>
                                        {% endfor %}
                                    {% endif %}
                                </p>
                            </figcaption>
                        </figure>
                    </td>


	                <td>
		                <!-- col.// -->
                        <label for="">{{cart_item.quantity}}</label>

                    </td>
                    <td>
                        <div class="price-wrap">
                            <var class="price">€ {{ cart_item.sub_total }}</var>
                            <small class="text-muted"> € {{ cart_item.product.price }} per stuk</small>
                        </div> <!-- price-wrap .// -->
                    </td>

            </tr>
            {% endfor %}
</tbody>
</table>

        <div>
			<button type="submit" class="btn btn-primary text-center btn-block ">Plce order </button>
			    <a href="{% url 'store' %}" class="btn btn-light btn-block ">Verder winkelen</a>
            </form>
        </div> <!--card-body-->
		</div> <!-- card.// -->
</aside> <!-- col.// -->


</div> <!-- row.// -->

<!-- ============================ COMPONENT 1 END .// ================================= -->

</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}